.holo-bg{
  position: absolute;
  background-image: url('./resources/img/holo-bg.png');
  width: 100%;
  height: 100px;
  /* background-position: 0% 0%; */
  background-size: 300% 300%;
  clip-path: url(#logo-clip-path);
}

.home-screen{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

clipPath{
  transform: scale(0.4);
}